<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hengxiao_09.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>hengxiao_10.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>hengxiao_11.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>hengxiao_12.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>hengxiao_13.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hengxiao_14.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hengxiao_15.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hengxiao_16.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hengxiao_17.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>222</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_001.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_002.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_003.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_004.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_005.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_006.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_007.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiugong_008.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jiugong01_effect0.png</string>
			<key>realTextureFileName</key>
			<string>jiugong01_effect0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>