<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Apollo_tx01(1).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx02(2).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx03(3).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx04(4).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx05(5).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx06(6).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx07(7).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx08(8).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx09(9).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx10(10).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx11(11).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx12(12).png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0016.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx13(1).png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>787</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx16.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>840</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx14(1).png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_tx15.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0001.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>787</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0018.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>869</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0011.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>951</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0009.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0019.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>745</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0017.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>951</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0014.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>827</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0012.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>908</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0015.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0013.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0010.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0008.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0006.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0003.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0002.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0004.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Apollo_0005.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>999</integer>
				<key>y</key>
				<integer>10</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shadow01.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>315</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Apollo(xiugai)0.png</string>
			<key>realTextureFileName</key>
			<string>Apollo(xiugai)0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>