<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,105},{92,128}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,5},{92,128}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,5},{92,128}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,413},{92,128}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,177},{128,28}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,213},{28,128}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{28,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,141},{128,28}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,205},{28,128}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{28,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back2x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,5},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back2x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,277},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,249},{64,64}}</string>
                <key>offset</key>
                <string>{-32,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,241},{64,64}}</string>
                <key>offset</key>
                <string>{32,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,213},{64,64}}</string>
                <key>offset</key>
                <string>{32,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,141},{64,64}}</string>
                <key>offset</key>
                <string>{-32,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,141},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>back_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_image.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc14597735c27ea1d01997bc0db80aee:1/1$</string>
            <key>textureFileName</key>
            <string>map_image.png</string>
        </dict>
    </dict>
</plist>
